<html>
<head>
    <title>{{ha.joke[:30]}}__生活就是个笑话</title>
    <link type="text/css" rel="stylesheet" href="/css/css1.css" />
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js" ></script>
<script type="text/javascript" src="/static/js/artDialog.js?skin=blue" ></script>
<script type="text/javascript" src="/static/js/iframeTools.js"></script>
        <script type="text/javascript">
            function light(ids,index){
                var di=document.getElementById('div'+ids);
                di.className='l';
            }
            function lightdiv(ids,index){
                 var di=document.getElementById('div'+ids);
                    if(index%2==1){
                        di.className='d';
                    }else{
                        di.className='df';
                    }
            }
            function deljoke(ids,index){
                var ch=document.getElementById(ids);
                var di=document.getElementById('div'+ids);
                if (ch.checked){
                    ch.checked=false;
                }else{
                    ch.checked=true;
                }
                if(ch.checked){
                    di.className='del';
                }else{
                    if(index%2==1){
                        di.className='d';
                    }else{
                        di.className='df';
                    }
                }
            }
            function checktopdiv(){
                var d=document.getElementById('topdiv');
                d.style.left=(document.body.clientWidth-900)/2+920;
            }
            function addBookmark(tit,uri) {
                if (window.sidebar) {
                window.sidebar.addPanel(tit, uri,"");
                } else if( document.all ) {
                window.external.AddFavorite( uri, tit);
                } else{
                    alert("浏览器收藏没有成功，请使用Ctrl+D进行添加!");
                return true;
                }}
            function result_alert2(type,content)
            {
                switch (type)
                {
                    case "success":
            	        {
            	        	art.dialog({title:'提示',content:content,icon:'succeed',lock: true,ok:true});
            	        }
            	        break;
                    case "warn":
                        {
                       	 art.dialog({title:'提示',content:content,icon:'warning',lock: true,ok:true});
                    	}
                        break;
                 }
            }
            $(function(){
                result_alert2('{{result}}','{{content}}');
            });

        </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20025612-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body onload="checktopdiv()">
<center>
    {%include 'templates/head.html'%}
        <div class="page" style="height: 40px;">

            <div class="page_baidu">
                       <!-- 将此标记放在您希望显示 添加到百度首页 按钮的位置 -->
                           <div class="bdaddtocitebtn" style="float: right;"></div>
                   </div>
            <div class="page_android">

                <table width="260px" cellpadding="0" cellspacing="0" border="0">
                    <tr >
                        <td height="24px" width="10px" style="background-image: url(/image/android1.png)"></td>
                        <td align="center" style="background-image: url('/image/android2.png');background-repeat: repeat-x;">
                            <a href="/image/Joke.apk">下载Android客户端（1.6以上版本）</a>
                        </td>
                        <td width="10px" style="background-image: url(/image/android3.png)"></td>
                    </tr>
                </table>
            </div>


        </div>
<div   id="div{{ha.key().name()}}" class="df"  ><br/>{{ha.joke}}<br/><br/>{%if ha.img%}<img src='{{ha.img}}' style="max-width: 750px;" />{%endif%}
    <div  class="pingjia0">
        <div style="float: left;">
            <!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">

        <a class="bds_qzone"></a>
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_renren"></a>
        <a class="bds_t163"></a>
        <span class="bds_more"></span>
        <a class="shareCount"></a>
        </div>
        <!-- Baidu Button END --></div>
        <span>发布于:{{ha.updateTime.strftime('%Y-%m-%d %H:%M')}}</span>
        <span id="replayNumFont"></span>
        <a href="#replay" style="font-size: 18px;">评论</a>
        </div>
</div>
<div class="df">
    {% include 'templates/comment.html' %}
</div>
<div class="df">
    {% include 'templates/commentlist.html' %}
</div>
    <div class="ff" id="topdiv"><a href="#save">返<br>回<br>顶<br>层</a></div>
<br/>
<br/>
<br/>
</center>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=1883581" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- 将此代码放在适当的位置，建议在body结束前 -->
<script id="bdimgshare_shell"></script>
<script>
var bdShare_config_imgshare = {
	"type":"list"
	,"size":"big"
	,"pos":"top"
	,"color":"black"
	,"list":["qzone","tsina","tqq","renren","t163"]
	,"uid":"1883581"
};
document.getElementById("bdimgshare_shell").src="http://bdimg.share.baidu.com/static/js/imgshare_shell.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
</body>
</html>